.footer {
    width: 100%;
    padding: 2em 0;
    // background-color: #1B1E24;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}

.container {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
