.mediaItems {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mediaItem {
    font-size: 0.9rem;
    margin-bottom: 0.5em;
    color: #a9a9a9;
    letter-spacing: 0.01rem;
}

.mediaItem:first-child {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.2em;
    color: #ffffff;
}

.mediaItem > :global(a) {
    color: #a9a9a9;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.mediaItem > :global(a):hover {
    color: #ffffff;
}
