.featuredArticle {
    width: 100%;
    // background-color: #1B1E24;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.article {
    padding: 3em 3em 0;
}

.articleTitle {
    margin: 0;
    font-weight: normal;
    text-align: center;
}

.articleDate {
    text-align: center;
    margin-top: 1em;
    color: #696969;
}

.articleAuthors {
    margin: 1.5em 0 0;
    text-align: center;
}

.articleAuthors > .author {
    display: inline-flex;
    align-items: center;
    padding: 0 1em;
    margin-bottom: 0.5em;
    white-space: nowrap;
}

.articleAuthors > .author > img {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    border-radius: 50%;
    background: #efefef;
}

.articleAuthors > .author .name {
    line-height: 1.1em;
    text-align: left;
    font-size: 0.8888888888888888em;
}

.articleAuthors > .author .realName {
    display: block;
}

.articleAuthors > .author .twitter {
    font-size: 12px;
    color: #0074de;
    text-decoration: none;
}

.articleContent {
    margin: 0;
    padding: 1em;
}

.buttonContainer {
    text-align: center;
    padding: 0 0 3em;
}

.readMore {
    color: #0074de;
    text-decoration: none;
    font-size: 14px;
}
